  /*start public*/
  
  * {
      margin: 0;
      padding: 0;
      box-sizing: border-box;
      font-family: 'Nunito', sans-serif;
  }
  /*end public*/
  /*start body and dark mode*/
  
  html,
  body {
      background: linear-gradient( 50deg, rgba(56 47 47 /62%), #829fad)
  }
  
   :root .dark {
      background: linear-gradient( 120deg, #04020280, #000000);
  }
  
  body {
      background: var(--background);
      color: var(--text);
  }
  
  .card {
      background: var(--background-light);
  }
  /* end body and dark mode*/
  /*start big div*/
  
  #appchat {
      margin-top: -349px;
  }
  
  .container {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-pack: center;
      -ms-flex-pack: center;
      justify-content: center;
      -webkit-box-align: center;
      -ms-flex-align: center;
      align-items: center;
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
      -ms-flex-direction: column;
      flex-direction: column;
      height: 170vh;
      width: 100vw;
  }
  
  .container h1 {
      margin: 0.5em auto;
      color: #FFF;
      text-align: center;
      margin-right: 500px;
  }
  /*end big div*/
  /*start chat box*/
  
  .chatbox {
      background: rgb(255 255 255 / 10%);
      width: 760px;
      height: 55%;
      border-radius: 1.2em;
      position: relative;
      box-shadow: 1px 1px 12px rgb(0 0 0 / 10%);
  }
  
  .chatbox__messages:nth-of-type(odd) .chatbox__messages__user-message--ind-message {
      float: right;
  }
  
  .chatbox__messages:nth-of-type(odd) .chatbox__messages__user-message--ind-message:after {
      content: '';
      position: absolute;
      margin: -1.5em -17.06em;
      width: 0;
      height: 0;
      border-top: 10px solid transparent;
      border-bottom: 10px solid transparent;
      border-right: 10px solid rgba(255, 255, 255, 0.2);
  }
  
  .chatbox__messages:nth-of-type(even) .chatbox__messages__user-message--ind-message {
      float: left;
      text-align: -webkit-right;
      margin-block-end: -16px;
  }
  
  .chatbox__messages__user-message {
      width: 708px;
      height: 85px;
  }
  
  .chatbox__messages__user-message--ind-message {
      background: rgba(255, 255, 255, 0.2);
      padding: 1em 0;
      height: auto;
      width: inherit;
      border-radius: 20px;
      margin: 2em 1em;
      overflow: auto;
      border-left: outset;
  }
  
  .chatbox__messages__user-message--ind-message>p.name {
      color: #FFF;
      font-size: 1.2em;
      font-family: sans-serif;
      font-weight: bolder;
  }
  
  .chatbox__messages__user-message--ind-message>p.message {
      color: #FFF;
      font-size: 1.5em;
      margin: auto;
      margin-left: 20px;
      width: 620px;
  }
  
  .chatbox__user-list {
      background: rgba(255, 255, 255, 0.1);
      width: 25%;
      height: 50%;
      float: right;
      border-top-right-radius: 0.2em;
      border-bottom-right-radius: 0.2em;
  }
  
  .chatbox__user-list h1 {
      background: rgba(255, 255, 255, 0.05);
      color: rgba(255, 255, 255, 0.9);
      font-size: 1.5em;
      padding: 1em;
      margin: 0;
      font-weight: 300;
      text-align: center;
      margin-bottom: 25px;
      border-bottom: solid 3px;
  }
  
  .chatbox__user,
  .chatbox__user--active,
  .chatbox__user--busy,
  .chatbox__user--away {
      width: 0.5em;
      height: 0.5em;
      border-radius: 100%;
      margin: 1em 0.7em;
      margin-bottom: 28px;
  }
  
  .chatbox__user--active {
      background: rgba(23, 190, 187, 0.8);
  }
  
  .chatbox__user--busy {
      background: rgba(252, 100, 113, 0.8);
  }
  
  .chatbox p {
      float: left;
      text-align: left;
      margin: -0.25em 2em;
      font-size: 1.2em;
      font-weight: 300;
      color: #FFF;
      width: 200px;
  }
  
  .chatbox form {
      background: #222;
  }
  
  .chatbox form input {
      background: rgb(255 255 255 / 15%);
      position: absolute;
      bottom: 0;
      left: 0;
      border: none;
      width: 75%;
      padding: 16px;
      outline: none;
      color: rgb(255 255 255);
      font-weight: 400;
      border-style: inset;
      font-size: 23px;
  }
  
  .chatbox {
      width: 100%;
      height: auto;
  }
  
  h1 {
      margin-left: 520px;
      margin-top: 91px;
  }
  
  .chatbox__messages {
      height: 666px;
      overflow-x: hidden;
      overflow-y: scroll;
  }
  /*  #style-4::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgb(0 0 0 / 30%);
    background-color: rgb(0 0 0 / 8%);
}
*/
  
  #style-4::-webkit-scrollbar {
      width: 5px;
      background-color: rgb(255 255 255 / 10%);
  }
  
  #style-4::-webkit-scrollbar-thumb {
      background-color: rgb(255 255 255 / 12%);
      border: 1px solid #e4dede75;
  }
  /*end chat box*/
  /*start page login*/
  
  .initModal {
      width: 100%;
      height: 100%;
      left: 0;
      top: 0;
      background-color: -webkit-linear-gradient(330deg, #000, #f0a6ca);
      display: flex;
      align-items: center;
      justify-content: center;
      flex-direction: column;
  }
  
  h3 {
      font-weight: 300;
      color: #ffffffe0;
  }
  
  input.username {
      width: 350px;
      height: 60px;
      background-color: rgb(255 255 255 / 15%);
      padding: 0 15px;
      margin-top: 25px;
      color: rgb(0, 0, 0);
  }
  /*start button login*/
  
  .button2 {
      width: 150;
      height: 40;
      margin-top: 50;
      font-weight: bolder;
      color: #fff !important;
      background: rgb(255 255 255 / 15%);
      padding: 20px;
      border-radius: 10px;
      border: none;
      transition: all 0.4s ease 0s;
      padding-bottom: 35;
  }
  
  .button2 :hover {
      transition: all 0.4s ease 0s;
  }
  /*end button login*/
  /*start page login*/
  /*start button send*/
  
  .button3 {
      height: 59px;
      margin-top: 18px;
      padding: 20px;
      border-radius: 84%;
      transition: all .5s ease 0s;
      padding-bottom: -63px;
      /* margin-left: 87%; */
      font-size: 39px;
      padding-block-end: -8px;
      width: 149px;
      padding: 3px;
      background: fixed;
      float: right;
      margin-inline-end: 20px;
  }
  
  img {
      vertical-align: middle;
      width: 53px;
      padding: 0px;
      margin: -1px;
  }
  
  .button3 :hover {
      transition: all 0.4s ease 0s;
  }
  /*end button send*/
  
  @-webkit-keyframes pulse-grow-on-hover {
      to {
          -webkit-transform: scale(1.1);
          transform: scale(1.1);
      }
  }
  
  @keyframes pulse-grow-on-hover {
      to {
          -webkit-transform: scale(1.1);
          transform: scale(1.1);
      }
  }
  /*start switch mode button and hover all button*/
  
  .btn {
      float: right;
      /* margin: 10; */
      margin-right: 587%;
      /* margin-left: -70px; */
      /* position: fixed; */
      margin-top: 71px;
  }
  
  .btn-primary {
      color: #fff;
      background-color: rgb(0 0 0 / 8%);
      border-color: #bfc7cf;
  }
  /*end switch mode button and hover all button*/
  
  .nameroom {
      padding: inherit;
      border: inset;
  }
  /*start emoji chat*/
  
  .em {
      width: 68.8%;
      /* margin-left: 61%; */
      background-color: rgb(0 0 0 / 8%);
      display: none;
      height: 178px;
      overflow-x: auto;
      font-size: 20px;
      flex-wrap: wrap;
      margin-top: 7px;
      border-radius: -21%;
      /* margin-top: 8px; */
      /* border-radius: 5%; */
      margin-block-end: -4%;
      padding: 9px;
      margin-inline-start: 13px;
      overflow-x: hidden;
      margin-block-end: -12px;
  }
  
  .em p {
      margin-right: -200px;
  }
  
  .pulse-grow-on-hover {
      display: inline-block;
      vertical-align: middle;
      -webkit-transform: perspective(1px) translateZ(0);
      transform: perspective(1px) translateZ(0);
      box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  }
  
  .pulse-grow-on-hover:hover,
  .pulse-grow-on-hover:focus,
  .pulse-grow-on-hover:active {
      animation-name: pulse-grow-on-hover;
      animation-duration: 0.3s;
      -webkit-animation-timing-function: linear;
      -webkit-animation-iteration-count: infinite;
      animation-iteration-count: infinite;
      animation-direction: alternate;
      cursor: pointer;
  }
  /*end emoji chat*/
  /*start emoji button*/
  
  .emoji {
      font-size: 5rem;
      transform: scale(.5);
      text-shadow: 0 2px 4px rgba(0, 0, 0, .3);
      transition: text-shadow .2s ease-in-out, transform .2s ease-in-out;
  }
  
  .emoji:hover {
      transform: scale(1) translatey(-20px);
      text-shadow: 0 20px 20px rgba(0, 0, 0, .3);
  }
  
  .emoji--happy:before {
      content: '🙂';
      float: right;
      margin-right: 24px;
      cursor: pointer;
      padding-block-start: 13px;
      opacity: 0.6;
  }
  
  .emoji--happy:hover:before {
      content: '😄';
  }
  
  .em::-webkit-scrollbar-thumb {
      background-color: rgb(255 255 255 / 12%);
      border: 1px solid #e4dede75;
  }
  /*     .em::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
    background-color: #2a0909;
}
*/
  
  .em::-webkit-scrollbar {
      width: 5px;
      background-color: rgb(255 255 255 / 10%);
  }
  /*end emoji button*/